<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="styles/main.css" type="text/css" />
    <script src="scripts/table-of-contents.js"></script>
    <script src="scripts/clickable-headings.js"></script>
    <script src="scripts/todos.js"></script>
    <title>{=nodeTitle(root)}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div class="header">

<p class="top-icon-list">
<a href="https://scanarium.com/"><img class="text-icon" src="images/icons/scanarium.png" alt="Scanarium icon"/></a>
<a href="https://www.facebook.com/Scanarium-100188695203021"><img class="text-icon" src="images/icons/facebook.png" alt="Facebook icon"/></a>
<a href="https://www.instagram.com/scanarium/"><img class="text-icon" src="images/icons/instagram.png" alt="Instagram icon"/></a>
<a href="https://twitter.com/scanarium/"><img class="text-icon" src="images/icons/twitter.png" alt="Twitter icon"/></a>
<a href="https://www.youtube.com/channel/UCTwq7yR9KomRJythLrmhSyA"><img class="text-icon" src="images/icons/youtube.png" alt="YouTube icon"/></a>
</p>

  <div id="top-language-selector">
    <script>
var pathname_in_language = function (pathname, language) {
  if (pathname.substring(pathname.length - 1, pathname.length) == '/') {
    pathname += 'index.html.' + language;
  } else {
    if (pathname.length > 5 && pathname.substring(pathname.length - 5, pathname.length) != '.html') {
      pathname = location.pathname.replace(/\.[a-z]+$/i, '');
    }
    pathname += '.' + language;
  }
  return pathname;
}

var languagePicked = function() {
  var element = document.getElementById('top-language-selector-select');
  var newLanguage = (element || {}).value;
  if (newLanguage) {
    var location = document.location;
    location.pathname = pathname_in_language(location.pathname, newLanguage);
  }
}
    </script>
    <img id="top-language-selector-img" src="images/icons/language-selector.png"></img>
    <select id="top-language-selector-select" name="language" class="seethrough" onchange="languagePicked()" oninput="languagePicked()">
<!-- LANGUAGE-OPTION -->
    </select>
<script>
const languageMatrixString = "{=dumpLanguageMatrix({=property(build_localizations)})}";
var languageMatrix = {}
languageMatrixString.split(',').forEach(pair => {
  const keyValue = pair.split(':', 2);
  languageMatrix[keyValue[0]] = keyValue[1];
});
const languagesString = "{=property(build_localizations)}";
const currentLanguage = "{=property(language)}";
var languages = languagesString.split(",");
languages.sort();

var topLanguageSelectorSelect = document.getElementById("top-language-selector-select");
languages.forEach(language => {
  var option = document.createElement("option");
  option.value = language;
  if (language == currentLanguage) {
    option.selected = "selected";
  }
  var text = language;
  var matrixKey = currentLanguage + '-' + language;
  if (matrixKey in languageMatrix) {
    text = language + ' - ' + languageMatrix[matrixKey];
  }
  option.appendChild(document.createTextNode(text));
  topLanguageSelectorSelect.appendChild(option);
});
</script>
  </div>

    </div>
    <div class="content-positioner">
      <div id="content">
<!-- HEADER-END -->
<h1 id="root" class="document-generator-node">Scanarium Handbook</h1>

<h2 id="chapter1" class="document-generator-node">Chapter 1</h2>
<p>Some content</p>
<h3 id="chapter1.1" class="document-generator-node">Chapter 1.1</h3>
<p>Some content</p>
<h3 id="chapter1.2" class="document-generator-node">Chapter 1.2</h3>
<p>Some content</p>
<h4 id="chapter1.2.1" class="document-generator-node">Chapter 1.2.1</h3>
<p>Some content</p>
<h4 id="chapter1.2.2" class="document-generator-node">Chapter 1.2.2 with some really, really, really long title</h3>
<p>Some content</p>
<h4 id="chapter1.2.3" class="document-generator-node">Chapter 1.2.3</h3>
<p>Some content</p>
<h3 id="chapter1.3" class="document-generator-node">Chapter 1.3</h3>
<p>Some content</p>
<h3 id="chapter1.4" class="document-generator-node">Chapter 1.4</h3>
<p>Some content</p>
<h3 id="chapter1.5" class="document-generator-node">Chapter 1.5</h3>
<p>Some content</p>

<h2 id="chapter2" class="document-generator-node">Chapter 2 has a rather longish title again</h2>
<p>Some content</p>
<h3 id="chapter2.1" class="document-generator-node">Chapter 2.1</h3>
<p>Some content</p>
<h3 id="chapter2.2" class="document-generator-node">Chapter 2.2</h3>
<p>Some content</p>
<h3 id="chapter2.3" class="document-generator-node">Chapter 2.3</h3>
<p>Some content</p>

<h2 id="chapter3" class="document-generator-node">Chapter 3</h2>
<p>Some content</p>

<h2 id="chapter4" class="document-generator-node">Chapter 4</h2>
<p>Some content</p>
<h4 id="chapter4.1.1" class="document-generator-node">Chapter 4.1.1</h4>
<p>Some content</p>
<h3 id="chapter4.2" class="document-generator-node">Chapter 4.2</h3>
<p>Some content</p>
<h3 id="chapter4.3" class="document-generator-node">Chapter 4.3</h3>
<p>Some content</p>
<!-- FOOTER-START -->
<div class="footer">
<p id="language-text-links">
<!-- LANGUAGE-TEXT-LINKS -->
</p>
<script>
const separator = " | ";
var languageTextLinks = document.getElementById("language-text-links");
if (languages.length > 0) {
  languageTextLinks.appendChild(document.createTextNode(separator));
  const location = document.location;
  languages.forEach((language, index) => {
    var container;
    if (language == currentLanguage) {
      var container = document.createElement("span");
      container.className = "selected";
    } else {
      var container = document.createElement("a");
      container.className = "language-text-link";
      // We want this to work with `file://` urls, so we cannot use
      // location.origin directly, as this is browser dependent for
      // `file://` URLs (E.g.: protocol part is null for Firefox)
      container.href = location.protocol + '//' +location.host + pathname_in_language(location.pathname, language) + location.search + location.hash;
    }
    var text = language;
    var matrixKey = language + '-' + language;
    if (matrixKey in languageMatrix) {
      text = languageMatrix[matrixKey] + ' (' + language + ')';
    }
    container.appendChild(document.createTextNode(text));
    languageTextLinks.appendChild(container);

    languageTextLinks.appendChild(document.createTextNode(separator));
  })
}

window.onhashchange = function() {
  // Update language links to make sure they point to the correct hash
  for (const link of document.getElementsByClassName('language-text-link')) {
    link.href = link.href.replace(/#.*$/, '') + document.location.hash;
  }

  // Move the hashed element into view
  if (document.location.hash && document.location.hash.length > 1) {
    idToShow = document.location.hash.substring(1, document.location.hash.length);
    console.log('Scrolling to ' + idToShow);
    var elementToShow = document.getElementById(idToShow);
    if (elementToShow) {
      elementToShow.scrollIntoView();
    }
  }
}
window.onhashchange();

document.addEventListener ("DOMContentLoaded", () => {
  // Make sure content element has focus, so users can navigate using
  // PageUp/PageDown without having to click.
  var contentElement = document.getElementById('content');
  if (contentElement) {
    contentElement.tabIndex = -1;
    contentElement.focus();
  }
});
</script>
  <p class="impressum">
    <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="CC-BY-SA 4.0"><img class="license-icon" src="images/icons/cc-by-sa-small.png"></img></a>
    <a href="https://github.com/scanarium/scanarium-handbook" title="Scanarium Handbook sources on GitHub"><img class="text-icon" src="images/icons/github.png"></img></a>
    <a href="https://quelltextlich.at/impressum.html">Impressum</a>
  </p>
</div>
      </div>
    </div>
  </body>
</html>